@cor-principal: #4CBFDA;
@cor-secundaria: #793DC3;

body {
    background-color: @cor-principal;
    color: @cor-secundaria;
    font-family: Arial, sans-serif;
}

.titulo {
    font-size: 32px;
    font-weight: bold;
}
