* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: #2f3640;
    padding: 16px 0;
    color: #f5f6fa;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header .container h1 {
    font-size: 40px;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: #f5f6fa;
    text-decoration: none;
}

header li a:hover {
    text-decoration: underline;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article {
    width: 30%;
}

.articles article img {
    height: 250px;
    width: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article a {
    border-radius: 8px;
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 24px;
}

.articles article a {
    background-color: blue;
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color: rgba(214, 255, 202, 0.5);
}

#sports .articles article a {
    background-color: #009432;
}

#economy {
    background-color: rgba(255, 251, 202, 0.5);
}

#economy .articles article a {
    background-color: #f5ad05;
}

#entertainment {
    background-color: rgba(255, 202, 202, 0.5);
}

#entertainment .articles article a {
    background-color: #940000;
}

#tech {
    background-color: rgba(202, 213, 255, 0.5);
}

#tech .articles article a {
    background-color: #001b94;
}