@use 'variables' as *;

.products {
    margin-top: $products-margin-top;
    display: grid;
    grid-template-columns: repeat(3, 32.66%);
    column-gap: 1%;
    row-gap: 4%;
    width: 100%;

    .product-item {
        img {
            width: 100%;
            border-radius: $border-radius-image;
        }
    }
}

.product-button {
    display: block;
    background-color: $color-button;
    color: $color-white;
    text-align: center;
    padding: 8px 0;
    border-radius: $border-radius-button;
    margin-top: 8px;
    text-decoration: none;

    &:hover {
        background-color: $color-button-hover;
    }
}

@media screen and (max-width: $breakpoint-tablet) {
    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
    }
}

@media screen and (max-width: $breakpoint-mobile) {
    .products {
        display: block;
    }

    .product-item {
        margin-bottom: 32px;
    }
}
