$font-family: Roboto, sans-serif;

$color-background: #f5f6fa;
$color-header: #182C61;
$color-white: #fff;
$color-button: #44bd32;
$color-button-hover: #4cd137;

$container-max-width: 1024px;
$container-width-tablet: 80%;

$section-padding: 56px 0;
$products-margin-top: 40px;

$border-radius-image: 16px;
$border-radius-button: 8px;

$breakpoint-tablet: 1023px;
$breakpoint-mobile: 767px;
